<nav class="panel">
    <p class="panel-heading">Who to follow</p>
</nav>
<% @users.each do |user| %>
<div class="panel-block">
    <article class="media">
        <div class="media-left">
            <figure class="image is-32x32 o-hide">
                <%= image_tag user.avatar_image%>
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong><%= link_to user.name,  user_path(user) ,class: "has-text-black" %></strong>
                    <small><%= link_to user.username,  user_path(user) ,class: "has-text-black" %></small>
                </p>
            </div>
        </div>
    </article>
</div>
<% end %>

