    <div class="panel-block">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="user picture">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <strong class="has-text-white"><%= 'current_user.name' %></strong>
                    <small class="has-text-white"><%= 'current_user.username' %></small>
                </div>
            </div>
        </article>
    </div>
    <div class="panel-block">
        <div class="tile is-ancestor">
            <div class="tile is-vertical">
                <p class="heading has-text-white">Tweets</p>
                <p class="title is-6 has-text-white"><%= '21' %></p>
            </div>
            <div class="tile is-vertical">
                <p class="heading has-text-white">Following</p>
                <p class="title is-6 has-text-white">123</p>
            </div>
            <div class="tile is-vertical">
                <p class="heading has-text-white">Followers</p>
                <p class="title is-6 has-text-white">215</p>
            </div>
        </div>
    </div>