<p id="notice"><%= notice %></p>

<section class="section">
  <div class="columns">
    <%= render 'feed' %>
    <div class="column">
    <%= render 'who-to-follow' %>
    <%= render 'trends' %>
    </div>
  </div>
</section>
