<section>
  <div class="columns">
    <%= render 'feed' %>
    <div class="column">
    <% if current_user.present? %>
    <%= render 'common/who-to-follow' %>
    <%= render 'trends' %>
    <% end %>
    </div>
  </div>
</section>
